<div class="col-lg-6 mb-4">
    <div *ngIf="data">
        <div *ngFor="let company of data">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"> Gr&aacute;fico de amortizaci&oacute;n y depreciaci&oacute;n (Compa&ntilde;&iacute;a: {{ company['name'] }})</h6>
                </div>
                <div class="card-body">
                    <app-line-chart
                        [id]="company['name']"
                        [chartData]="company['data']"
                        [chartLabels]="company['years']"                        
                    ></app-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="data.length === 0" class="col-lg-6 mb-4">
    <div class="d-flex justify-content-center">
        <strong>{{ msg }}...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
</div>