<div class="col-lg-6 mb-4">
    <div *ngIf="data">
        <div *ngFor="let company of data">
            <app-line-chart
                [chartData]="company['data']"
                [chartLabels]="company['years']"
                [chartId]="company['name']"
                [chartSecuence]="i"
                        
                ></app-line-chart>
                {{next()}}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ company['name'] }}</h6>
                </div>
                <div class="card-body">
                    {{ company['data'] }}
                    
                    <!-- <app-chart 
                        [chartType]="'pie'"
                        [chartData]="company['data']"
                    >
                    </app-chart> -->
                    {{ company['years'] }}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="data.length === 0" class="col-lg-6 mb-4">
    <div class="d-flex justify-content-center">
        <strong>{{ msg }}...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
</div>