<div class="card border-left-primary shadow h-100 py-2 mb-4">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    descripcion</div>
                <div class="h5 mb-0">
                    <p class="text-justify"> En este Dashboard, presentamos datos de amortización y devaluación de diversas empresas de
                        Estados Unidos. Sin embargo, por motivos de seguridad y confidencialidad, no revelamos los
                        nombres específicos de las empresas involucradas es por eso que denominaremos a las empresas con el nombre C_ID siendo ID un indentificador 
                        unico.
                    </p>
                    <p class="text-justify">
                        El Dashboard proporciona información esencial sobre el rendimiento financiero de estas empresas,
                        destacando tendencias clave en sus procesos de amortización y devaluación. A través de gráficos
                        interactivos y visualizaciones claras, los usuarios pueden analizar patrones a lo largo del
                        tiempo y comparar el desempeño relativo de distintas compañías.
                    </p>
                </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-calendar fa-2x "></i>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Compa&ntilde;&iacute;as encuestadas (Total)
                        </div>
                        <div *ngIf="failedCompanies === 0 && aliveCompanies === 0 " class="h5 mb-0 font-weight-bold text-gray-800">
                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                        </div>
                        <div *ngIf="failedCompanies !== 0 && aliveCompanies !== 0 " class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ failedCompanies + aliveCompanies}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Compa&ntilde;&iacute;as fracasadas (Actualidad)
                        </div>
                        <div *ngIf="failedCompanies === 0" class="h5 mb-0 font-weight-bold text-gray-800">
                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                        </div>
                        <div *ngIf="failedCompanies !== 0" class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ failedCompanies }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Compa&ntilde;&iacute;as vivas
                        </div>
                        <div *ngIf="aliveCompanies === 0 " class="h5 mb-0 font-weight-bold text-gray-800">
                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                        </div>
                        <div *ngIf="aliveCompanies !== 0 " class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ aliveCompanies}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->

</div>